/* Основные стили проекта. Это стили для темы, которую 
вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает 
  скрипт. */
  max-inline-size: 100%;
  block-size: 100%;
  background-image: var(--background-image);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  font-family: "IBM Plex Mono", Courier, monospace;
}

button {
  background-color: transparent;
  text-transform: lowercase;
  border: none;
}

main,
header,
footer {
  padding: 0 10px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.statement__margin-top {
  margin-block-start: clamp(50px, calc(50px + calc(7.4vb - 50px) * 4.5), 80px);
}

.statement-why {
  margin-block-start: clamp(40px, calc(20vb - 93.6px), 60px);
}

.statement-pictures .list {
  gap: 0;
}

.answer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.answer__text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

img {
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
}

header,
footer {
  block-size: 100vb;
  min-block-size: 668px;
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block-start: 40px;
}

.rec {
  display: var(--display-rec);
  color: var(--background-color-decor);

  position: absolute;
  inset-inline-end: 38px;
  inset-block-start: 10px;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
}

.rec::after {
  content: "";

  inset-block-start: 8px;
  inset-inline-end: -20px;
  background-color: #ff0070;
  border-radius: 50%;
  inline-size: 9px;
  block-size: 9px;
  box-shadow: 0px 0px 4px 2px #ff0070;
  position: absolute;
}

.h1 {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vi, 7.5rem); /*116px;*/
  font-weight: 700;
  line-height: 95.7px;
  text-align: left;

  text-shadow: 4px 4px 0 var(--accent-color);

  color: var(--h1-text-color);
}

header .h1 {
  align-self: center;
}

.decorated-zone::before {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  border: none;
  border-block-end: 1px solid var(--h2-text-color);
  border-inline-start: 1px solid var(--h2-text-color);

  position: absolute;
  inset-inline-start: 8px;
  inset-block-end: 8px;
}

.decorated-zone::after {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  border: none;
  border-block-start: 1px solid var(--h2-text-color);
  border-inline-end: 1px solid var(--h2-text-color);

  position: absolute;
  inset-inline-end: 8px;
  inset-block-start: 8px;
}

.header__theme-menu {
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;

  color: var(--h2-text-color);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 11px;
  block-size: 100%;
}

h2,
h3,
h4 {
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  text-align: left;
  color: var(--h2-text-color);
}

h3,
h4 {
  color: var(--h3-text-color);
}

p {
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  text-align: left;
  color: var(--main-text-color);
}

.title {
  align-self: center;
  justify-self: center;
  margin-block-start: -10px;
}

p.title-decor {
  color: var(--h3-text-color);
  font-weight: 700;
  inline-size: 355px;
  block-size: 117px;
}

.title-decor {
  background-color: var(--background-color-decor);
}

.title-advice {
  font-weight: 400;
}

.title-pictures {
  color: var(--h3-text-color);
  margin-block-end: clamp(10px, calc((2vb - 12px) * 6), 20px);
}

.textMenu {
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
}

.textDecorative {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
}

@media (768px <= width) {
  .header__theme-menu-list {
    margin-block-start: 9px;
  }

  .title {
    justify-self: flex-end;
    margin-block-start: -18px;
  }

  .rec {
    margin-inline-end: 9px;
    margin-block-start: 10px;
  }

  .rec::after {
    inset-inline-end: -18px;
  }

  .decorated-zone::before {
    inset-inline-start: 20px;
    inset-block-end: 20px;
  }

  .decorated-zone::after {
    inset-inline-end: 20px;
    inset-block-start: 20px;
  }

  p.title-decor {
    inline-size: 364px;
    block-size: 117px;
  }

  main,
  footer {
    padding: 0 20px;
  }

  header {
    padding: 0 20px 0px 0;
  }

  footer {
    margin-block-start: 60px;
  }

  .statement-why,
  .statement-advice {
    flex-direction: row;
  }

  .statement-why h2,
  .statement-advice h2 {
    inline-size: 236px;
    flex-shrink: 0;
  }

  .statement-causes h2 {
    inline-size: 120px;
  }

  .h1 {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .answer__pictures {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .sunset {
    grid-column: span 2;
  }

  .ice-cream {
    grid-row: span 2;
  }

  .tape {
    grid-row: span 2;
  }

  .street {
    grid-column: span 2;
  }
}

@media (1024px <= width) {
  .rec {
    margin-inline-end: 10px;
    margin-block-start: 10px;
  }

  .rec::after {
    inset-inline-end: -20px;
  }

  .decorated-zone::before {
    inset-inline-start: 20px;
    inset-block-end: 20px;
  }

  .decorated-zone::after {
    inset-inline-end: 20px;
    inset-block-start: 20px;
  }

  .header__theme-menu-list {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-block-start: 20px;
  }

  .title {
    margin-block-start: 0px;
  }

  p.title-decor {
    inline-size: 491px;
    block-size: 71px;
  }

  main,
  header,
  footer {
    padding: 0 20px 0 20px;
  }

  header,
  footer {
    min-block-size: 768px;
  }

  .statement-why h2,
  .statement-advice h2,
  .statement-causes h2 {
    inline-size: 315px;
    flex-shrink: 0;
  }

  .statement-causes .list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-inline-size: 100%;
    gap: 20px;
  }

  .statement-causes .answer {
    min-inline-size: 314px;
    max-inline-size: calc(100vi * 0.3);
  }

  .h1 {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  header .h1 {
    margin-inline-start: -20px;
  }

  .sunset {
    grid-column: span 2;
  }

  .ice-cream {
    grid-row: span 2;
  }

  .tape {
    grid-row: span 2;
  }

  .street {
    grid-column: span 2;
  }
}

.header__theme-menu-button {
  inline-size: 70px;
  block-size: 25px;
  cursor: pointer;
  transition: 1s;
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid currentColor;
  inline-size: 70px;
  block-size: 25px;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--border-color-transparent);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-start: none;
  border-inline-end: none;
  border-inline-start: none;
  border-block-end: 1px solid currentColor;
}

.anchor {
  text-shadow: 2px 2px 0 var(--anchor-shadow-color);
  text-decoration: none;
  transition: 1s;
}

.anchor:hover {
  border-block-end: 1px solid currentColor;
}

.anchor:focus {
  outline: none;
}

.anchor:focus-visible {
  border: 1px solid currentColor;
}
